body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  
  
  .ampopup-content {
    background: rgb(60, 171, 255)!important;
    background-color: rgba(60, 171, 255, 0.8)!important;
  }